input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 0.514);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 0px rgb(255, 255, 255) inset;
  caret-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
body {
  height: 99vh;
  width: 100vw;
  background: url("../images/minimalist-mountains-landscape-scenery-n4.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: Trebuchet MS;
  user-select: none;
}

.rotation {
  transform: rotateY(180deg);
  opacity: 0;
  z-index: -1;
}

.container {
  width: 300px;
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-shrink: 0;
  row-gap: 2rem;
  background-image: linear-gradient(#a34370c0, #bd438cbb);
  border: 2px solid rgba(255, 255, 255, 0.452);
  border-radius: 17px;
  transition: all 1s ease;
  overflow: visible;
}

.title {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.input_group {
  position: relative;
}

.text_input {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 0.5rem 1.8rem 0.5rem 0.2rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.514);
  color: white;
}

.text_input::placeholder {
  color: white;
}

.input_image {
  position: absolute;
  right: 0;
  top: 10%;
  opacity: 0.8;
}

.input_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.3rem;
}

.input_checkbox,
.signup_checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-right: 1rem;
  text-align: justify;
}

.input_checkbox label {
  flex: 1;
  text-decoration: none;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.74);
}

.input_checkbox input,
.signup_checkbox input {
  display: flex;
  appearance: none;
  height: 16px;
  width: 16px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.452);
  cursor: pointer;
  position: relative;
}

/* .input_checkbox input::after {
  display: flex;
  justify-content: space-between;
  content: "▪";
  margin-top: 6px;
  margin-left: 2px;
  font-size: 1.6rem;
  line-height: 0;
  width: inherit;
  color: transparent;
  text-shadow: 0 0 0 transparent;
  transition: color 200ms ease-out, text-shadow 150ms ease-out 25ms;
} */
.input_checkbox input::after,
.signup_checkbox input::after {
  position: absolute;
  content: "";
  aspect-ratio: 1;
  width: 8px;
  height: 8px;
  margin: auto;
  inset: 0;
  transition: color 200ms ease-out, text-shadow 150ms ease-out 25ms;
}
.input_checkbox input:hover,
.signup_checkbox input:hover {
  background: rgba(255, 255, 255, 0.452);
}
.input_checkbox input:checked::after,
.signup_checkbox input:checked::after {
  background: rgba(255, 255, 255, 0.712);
  transition: color 200ms ease-in, text-shadow 150ms ease-in 25ms;
}

.input_forget,
.input_forget a {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: bold;
}

#error {
  display: none;
  font-size: 12px;
  color: #392665;
  text-align: center;
  font-weight: bold;
}

.input_button {
  display: flex;
  justify-content: center;
  margin-top: -0.5rem;
}

.input_button .login_button:hover {
  background-color: #392665;
  color: rgba(255, 255, 255, 0.87);
}

.input_button .login_button {
  background-color: white;
  box-sizing: border-box;
  color: black;
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  padding: 0.7rem;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease-out;
  border: none;
}

.input_extra {
  display: flex;
  justify-content: center;
  font-family: Trebuchet MS;
  color: rgba(255, 255, 255, 0.8);
}

.input_extra a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 0.5rem 1.8rem 0.5rem 0.2rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.514);
  color: white;
} */

.container:nth-child(2) {
  position: absolute;
  overflow: visible;
}

.signup_options {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.3rem;
}

.signup_help,
.signup_help a {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: bold;
}

.signup_checkbox {
  width: initial;
}

.signup_checkbox label,
.signup_checkbox label a {
  text-decoration: none;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.74);
}

.signup_checkbox label a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.74);
}
